[project]
	description = Rich-Blog
[access "refs/*"]
	owner = group user/RichKe (run26kimo)
[access "refs/for/refs/*"]
	read = group user/RichKe (run26kimo)
	push = group user/RichKe (run26kimo)
	label-Code-Review = -2..+2 group user/RichKe (run26kimo)
	label-Verified = -1..+1 group user/RichKe (run26kimo)
	rebase = group user/RichKe (run26kimo)
	removeReviewer = group user/RichKe (run26kimo)
	submit = group user/RichKe (run26kimo)
[access "refs/heads/*"]
	read = group user/RichKe (run26kimo)
	create = group user/RichKe (run26kimo)
	push = +force group user/RichKe (run26kimo)
	pushMerge = group user/RichKe (run26kimo)
[access "refs/tags/*"]
	push = +force group user/RichKe (run26kimo)
	pushTag = group user/RichKe (run26kimo)
	pushSignedTag = group user/RichKe (run26kimo)
